.container {
  margin:0 auto;
  border:1px #ccc solid;
}

.courseBox {
  padding-top: 10px;
}

.courseBox:not(:first-child),.col:not(:last-child) {
  padding-right:5px;
  padding-left:5px;
}

.courseBoxContent {
  background-color:rgb(60, 75, 90);
  padding: 15px;
  color: rgb(155, 155, 155);
  min-height: 200px;
}

.courseBoxContent h2 {
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 800;
  color: rgb(92, 184, 92);
  margin-top: 4px;
}

.recommended {
  background-color: rgb(92, 184, 92);
  color: white;
  border: 2px dotted white;
}

.recommended h2 {
  color: white;
}


.form-group {
  margin:30px;
  margin-top: 40px;
}

label {
  font-size: 28px;
  margin-bottom: 20px;

}

.rangeTicks {
  width: 100%;
  clear: left;
  font-size: 0px; <!--gets rid of white-space: -->
}

.tick {
  font-size: 14px;
  display: inline-block;
  margin:0px;
  width: 15%;
  color: rgb(187, 187, 187);

}

.tick1 {
  text-align: left;
}

.tick2 {
  text-align: center;
  margin-left:2.5%;
}

.tick3 {
  text-align: center;
  margin-left: 10%;

}

.tick4 {
  margin-left: 9.5%;
  text-align: center;

}

.tick5 {
  margin-left: 3%;
  text-align: right;

}
